<div class="ht-banner-wrap">
  <!-- HT BANNER -->
  <div class="ht-banner void violet">
    <figure class="ht-banner-img1">
      <img src="/static/images/how_to_shop_01.png" alt="">
    </figure>
  </div>
  <!-- /HT BANNER -->

  <!-- HT BANNER -->
  <div class="ht-banner">
    <!-- HT BANNER CONTENT -->
    <div class="ht-banner-content">

      <textarea id="privatekey" name="privatekey" rows="2" cols="50" placeholder="You decrypt your files with your private key"></textarea>

      <textarea id="decdata" name="decdata" rows="2" cols="50" placeholder="Which data will decrypt"></textarea>

      <button id="decnow" name="decnow"  class="button mid dark"> Decrypt</button>

        <p id="resultdec">Result</p>
      <br>
    </div>
    <!-- /HT BANNER CONTENT -->
  </div>
  <!-- /HT BANNER -->
</div>
