
	<div class="ht-banner-wrap">
		<!-- HT BANNER -->
		<div class="ht-banner void violet">
			<figure class="ht-banner-img1">
				<img src="/static/images/how_to_shop_01.png" alt="">
			</figure>
		</div>
		<!-- /HT BANNER -->

		<!-- HT BANNER -->
		<div class="ht-banner">
			<!-- HT BANNER CONTENT -->
			<div class="ht-banner-content">

				<textarea id="requesterspkey" name="requesterspkey" rows="2" cols="50" placeholder="You encrypt data's with requesters public key."></textarea>

			 	<textarea id="encdata" name="encdata" rows="2" cols="50" placeholder="Which data will encrypt"></textarea>

				<button id="encnow" name="encnow" class="button mid dark"> Encrypt </button>

				<p id="resultenc">Result</p>

				<br>
			</div>
			<!-- /HT BANNER CONTENT -->
		</div>
		<!-- /HT BANNER -->
	</div>
