
	<div class="ht-banner-wrap">
		<!-- HT BANNER -->
		<div class="ht-banner void violet">
			<figure class="ht-banner-img1">
				<img src="/static/images/how_to_shop_01.png" alt="">
			</figure>
		</div>
		<!-- /HT BANNER -->

		<!-- HT BANNER -->
		<div class="ht-banner">
			<!-- HT BANNER CONTENT -->
			<div class="ht-banner-content">

				<p><b>Your random ethereum address:</b> {{addressif}} </p>
				<p><b>Private key of ethereum address </b><br> {{keyether}} </p>
				<p><b>Your Public Key:</b></p>

				<textarea rows="2" cols="50">{{pkey}}</textarea>



				<br>
			</div>
			<!-- /HT BANNER CONTENT -->
		</div>
		<!-- /HT BANNER -->
	</div>
