<!-- SECTION -->
<div class="section-wrap">

    <div class="section">
      <!-- SIDEBAR -->
      <div class="sidebar right">
        <!-- SIDEBAR ITEM -->
        <div class="sidebar-item void buttons">
          <button id="purchaseplease"  class="button big dark purchase">

            <span id="pricearea" style="margin-right: 15px;font-size: 19px;position: relative;top: -2px;">000</span>
            <span></span>
          </button>

          <a id="live-preview" target="_blank" href="#" class="button big tertiary link">
						<span class="icon-link"></span>
						Live Preview
					</a>




        </div>
        <!-- /SIDEBAR ITEM -->

        <!-- SIDEBAR ITEM -->
        <div class="sidebar-item author-bio">
          <h4>Product Seller</h4>
          <hr class="line-separator">

          <p class="text-header">0xaa039a9...</p>



        </div>
        <!-- /SIDEBAR ITEM -->

        <!-- SIDEBAR ITEM -->
        <div class="sidebar-item product-info">
          <h4>Product Information</h4>
          <hr class="line-separator">
          <!-- INFORMATION LAYOUT -->
          <div class="information-layout">
            <!-- INFORMATION LAYOUT ITEM -->
            <div class="information-layout-item">
              <p class="text-header">Upload Date:</p>
              <p id="udatee"></p>
            </div>
            <!-- /INFORMATION LAYOUT ITEM -->

            <!-- INFORMATION LAYOUT ITEM -->
            <div class="information-layout-item">
              <p class="text-header">Item Category:</p>
              <p id="itemcategg"></p>
            </div>
            <!-- /INFORMATION LAYOUT ITEM -->




            <!-- INFORMATION LAYOUT ITEM -->
            <div class="information-layout-item">
              <p class="text-header">Are you manager?</p>
              <p><a href="/manage/{{itemname}}">Manage</a></p>
            </div>
            <!-- /INFORMATION LAYOUT ITEM -->
          </div>
          <!-- INFORMATION LAYOUT -->
        </div>
        <!-- /SIDEBAR ITEM -->




      </div>
      <!-- /SIDEBAR -->

      <!-- CONTENT -->
      <div class="content left">
        <!-- POST -->
        <article class="post">
          <!-- POST IMAGE -->
          <div class="post-image">
            <div id="imagedjang" class="product-preview-image large liquid">

            </div>
            <!-- IMAGE OVERLAY -->
            <div class="image-overlay img-gallery">
              <div class="clickable-icon tertiary">
                <!-- SVG PLUS -->
                <svg class="svg-plus">
                  <use xlink:href="#svg-plus"></use>
                </svg>
                <!-- /SVG PLUS -->
              </div>
              <!-- GALLERY ITEMS -->
              <div class="gallery-items">
                <span class="djangoimage"></span>
              </div>
              <!-- /GALLERY ITEMS -->
            </div>
            <!-- /IMAGE OVERLAY -->
          </div>
          <!-- /POST IMAGE -->

          <!-- POST CONTENT -->
          <div class="post-content">
            <!-- POST PARAGRAPH -->
            <div class="post-paragraph">
              <h3 id="post-title" class="post-title">Discover the New Funtendo!</h3>
              <p id="post-explain"></p>

            </div>
            <!-- /POST PARAGRAPH -->


          </div>
          <!-- /POST CONTENT -->

          <hr class="line-separator">

          <!-- SHARE -->
          <div class="share-links-wrap">
            <p class="text-header small">Share this:</p>
            <!-- SHARE LINKS -->
            <ul class="share-links hoverable">
              <li><a href="#" class="fb"></a></li>
              <li><a href="#" class="twt"></a></li>
              <li><a href="#" class="db"></a></li>
              <li><a href="#" class="rss"></a></li>
              <li><a href="#" class="gplus"></a></li>
            </ul>
            <!-- /SHARE LINKS -->
          </div>
          <!-- /SHARE -->
        </article>
        <!-- /POST -->

        <!-- POST TAB -->
        <div class="post-tab">
          <!-- TAB HEADER -->
          <div class="tab-header tertiary">
            <!-- TAB ITEM -->
            <div class="tab-item selected">
              <p class="text-header">Comments</p>
            </div>
            <!-- /TAB ITEM -->


          </div>
          <!-- /TAB HEADER -->

          <!-- TAB CONTENT -->
          <div class="tab-content void">
            <!-- COMMENTS -->
            <div class="comment-list">


              <!-- COMMENT -->
              <div class="comment-wrap">
                <!-- USER AVATAR -->
                <a href="user-profile.html">
                  <figure class="user-avatar medium">
                    <img src="/static/images/avatars/avatar_03.jpg" alt="">
                  </figure>
                </a>
                <!-- /USER AVATAR -->
                <div class="comment">
                  <p class="text-header">View as Customer</p>
                  <p class="timestamp">6 Days Ago</p>
                  <a href="#" class="report">Report</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magnada. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
              </div>
              <!-- /COMMENT -->

              <!-- LINE SEPARATOR -->
              <hr class="line-separator">
              <!-- /LINE SEPARATOR -->

              <!--
              <div class="pager tertiary">
                <div class="pager-item"><p>1</p></div>
                <div class="pager-item active"><p>2</p></div>
                <div class="pager-item"><p>3</p></div>
                <div class="pager-item"><p>...</p></div>
                <div class="pager-item"><p>17</p></div>
              </div>
              -->

              <div class="clearfix"></div>

            </div>
            <!-- /COMMENTS -->
          </div>
          <!-- /TAB CONTENT -->


        </div>
        <!-- /POST TAB -->
      </div>
      <!-- CONTENT -->
    </div>

</div>
<!-- /SECTION -->
