<!-- SECTION -->
<div class="section-wrap">
  <div class="section demo">


    <!-- FORM POPUP -->
    <div class="form-popup">
      <!-- CLOSE BTN -->
      <div class="close-btn">
        <!-- SVG PLUS -->
        <svg class="svg-plus">
          <use xlink:href="#svg-plus"></use>
        </svg>
        <!-- /SVG PLUS -->
      </div>
      <!-- /CLOSE BTN -->

      <!-- FORM POPUP HEADLINE -->
      <div class="form-popup-headline secondary">
        <h2>Register Account</h2>
        <p>Register now and start making money from home!</p>
      </div>
      <!-- /FORM POPUP HEADLINE -->

      <!-- FORM POPUP CONTENT -->
      <div class="form-popup-content">
        <div id="register-form">
          <label for="email" class="rl-label required">Email Address</label>
          <input type="email" id="email" name="email" placeholder="Enter your email address here...">


          <label for="username" class="rl-label">Username</label>
          <input type="text" id="username" name="username" placeholder="Enter your username here...">

          <label for="password" class="rl-label required">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter your password here...">

          <button id="regmeinbro" name="regmeinbro" class="button mid dark">Register <span class="primary">Now!</span></button>

          <br><br><br>
          <p id="resultreg">...</p>

        </div>
      </div>
      <!-- /FORM POPUP CONTENT -->
    </div>
    <!-- /FORM POPUP -->

    <div class="clearfix"></div>
  </div>
</div>
<!-- /SECTION -->
