<!-- HEADER -->
<div class="header-wrap">
  <header>
    <!-- LOGO -->
    <a href="/">
      <figure class="logo">
            <img class="blockimage" alt="logo">
      </figure>
    </a>
    <!-- /LOGO -->

    <!-- MOBILE MENU HANDLER -->
    <div class="mobile-menu-handler left primary">
      <img src="/static/images/pull-icon.png" alt="pull-icon">
    </div>
    <!-- /MOBILE MENU HANDLER -->

    <!-- LOGO MOBILE -->
    <a href="/">
      <figure class="logo-mobile">
        <img src="/static/images/logo_mobile.png" alt="logo-mobile">
      </figure>
    </a>
    <!-- /LOGO MOBILE -->

    <!-- MOBILE ACCOUNT OPTIONS HANDLER -->
    <div class="mobile-account-options-handler right secondary">
      <span class="icon-user"></span>
    </div>
    <!-- /MOBILE ACCOUNT OPTIONS HANDLER -->
    <div class="user-board">


    {% if signedin %}
    <!-- USER BOARD -->

      <!-- USER QUICKVIEW -->
      <div class="user-quickview">
        <!-- USER AVATAR -->
        <a href="#">
        <div class="outer-ring">
          <div class="inner-ring"></div>
          <figure class="user-avatar" >
             <img class="blockimage" style="border-radius: 45px;"  alt="avatar"> 
          </figure>
        </div>
        </a>
        <!-- /USER AVATAR -->
        <!-- USER INFORMATION -->
        <p class="user-name">{{ acc.ethereumaddress|truncatechars:12 }}</p>
        <!-- SVG ARROW -->
        <svg class="svg-arrow">
          <use xlink:href="#svg-arrow"></use>
        </svg>
        <!-- /SVG ARROW -->
        <p class="user-money">{{ acc.darchbalance }} Darch</p>
        <!-- /USER INFORMATION -->
        <!-- DROPDOWN -->
        <ul class="dropdown small hover-effect closed">
          <li class="dropdown-item">
            <div class="dropdown-triangle"></div>
            <a href="/profile">Profile Page</a>
          </li>

          <li class="dropdown-item">
            <a href="/logout">Logout</a>
          </li>

        </ul>
        <!-- /DROPDOWN -->
      </div>
      <!-- /USER QUICKVIEW -->

    <!-- /USER BOARD -->

    {% else%}

          <div class="account-actions">
              <a href="/register" class="button primary">Register</a>
              <a href="/login" class="button secondary">Login</a>
            </div>


      {% endif %}


    </div>

  </header>
</div>
<!-- /HEADER -->
