<!-- HEADER -->
<div class="header-wrap">
  <header>
    <!-- LOGO -->
    <a href="index.html">
      <figure class="logo">
        <img src="/static/images/logo.png" alt="logo">
      </figure>
    </a>
    <!-- /LOGO -->

    <!-- MOBILE MENU HANDLER -->
    <div class="mobile-menu-handler left primary">
      <img src="/static/images/pull-icon.png" alt="pull-icon">
    </div>
    <!-- /MOBILE MENU HANDLER -->

    <!-- LOGO MOBILE -->
    <a href="index.html">
      <figure class="logo-mobile">
        <img src="/static/images/logo_mobile.png" alt="logo-mobile">
      </figure>
    </a>
    <!-- /LOGO MOBILE -->

    <!-- MOBILE ACCOUNT OPTIONS HANDLER -->
    <div class="mobile-account-options-handler right secondary">
      <span class="icon-user"></span>
    </div>
    <!-- /MOBILE ACCOUNT OPTIONS HANDLER -->

    <!-- USER BOARD -->
    <div class="user-board">
      <!-- USER QUICKVIEW -->
      <div class="user-quickview">
        <!-- USER AVATAR -->
        <a href="author-profile.html">
        <div class="outer-ring">
          <div class="inner-ring"></div>
          <figure class="user-avatar">
            <img src="/static/images/avatars/avatar_01.jpg" alt="avatar">
          </figure>
        </div>
        </a>
        <!-- /USER AVATAR -->

        <!-- USER INFORMATION -->
        <p class="user-name">0xFBd610...</p>
        <!-- SVG ARROW -->
        <svg class="svg-arrow">
          <use xlink:href="#svg-arrow"></use>
        </svg>
        <!-- /SVG ARROW -->
        <p class="user-money">745.00 Darch</p>
        <!-- /USER INFORMATION -->

        <!-- DROPDOWN -->
        <ul class="dropdown small hover-effect closed">
          <li class="dropdown-item">
            <div class="dropdown-triangle"></div>
            <a href="author-profile.html">Profile Page</a>
          </li>
          <li class="dropdown-item">
            <a href="dashboard-settings.html">Account Settings</a>
          </li>

        </ul>
        <!-- /DROPDOWN -->
      </div>
      <!-- /USER QUICKVIEW -->

      <!-- ACCOUNT INFORMATION -->
      <div class="account-information">

      </div>
      <!-- /ACCOUNT INFORMATION -->

      <!-- ACCOUNT ACTIONS -->
      <div class="account-actions">
        <a href="#" class="button primary">Become a Seller</a>
        <a href="#" class="button secondary">Logout</a>
      </div>
      <!-- /ACCOUNT ACTIONS -->
    </div>
    <!-- /USER BOARD -->
  </header>
</div>
<!-- /HEADER -->
