<!-- MAIN MENU -->
<div class="main-menu-wrap">
  <div class="menu-bar">
    <nav>
      <ul class="main-menu">


        <!-- MENU ITEM -->
        <li class="menu-item">
          <a href="/">Home</a>
        </li>
        <!-- /MENU ITEM -->

        <li class="menu-item sub">
          <a href="#">
            Homomorphic Encryption
            <!-- SVG ARROW -->
            <svg class="svg-arrow">
              <use xlink:href="#svg-arrow"></use>
            </svg>
            <!-- /SVG ARROW -->
          </a>
          <div class="content-dropdown">
            <!-- FEATURE LIST BLOCK -->
            <div class="feature-list-block">
              <h6 class="feature-list-title">Homomorphic Tests</h6>
              <hr class="line-separator">
              <!-- FEATURE LIST -->
              <ul class="feature-list">

                <!-- MENU ITEM -->
                <li class="feature-list-item">
                  <a href="/generate">Generator &nbsp;&nbsp;</a>
                  <!-- PIN -->
                  <span class="pin primary">hot</span>
                  <!-- /PIN -->

                </li>
                <!-- /MENU ITEM -->

                <!-- MENU ITEM -->
                <li class="feature-list-item">
                  <a href="/encryption">Encryption</a>
                </li>
                <!-- /MENU ITEM -->

                <!-- MENU ITEM -->
                <li class="feature-list-item">
                  <a href="/decryption">Decryption</a>
                </li>
                <!-- /MENU ITEM -->





                <!-- /FEATURE LIST ITEM -->
              </ul>
              <!-- /FEATURE LIST -->
            </div>
            <!-- /FEATURE LIST BLOCK -->
          </div>
        </li>





        <!-- MENU ITEM -->
        <li class="menu-item">
          <a href="/new">List new digital product</a>
        </li>
        <!-- /MENU ITEM -->





      </ul>
    </nav>
    <form class="search-form">
      <input type="text" class="rounded" name="search" id="search_products" placeholder="Search products here...">
      <input type="image" src="/static/images/search-icon.png" alt="search-icon">
    </form>
  </div>
</div>
<!-- /MAIN MENU -->
